// colors
$midnight: #030a12;
$midnight-two: #040f1f;
$dark-indigo: #071224;
$dark-indigo-two: #0a2242;
$dodger-blue: #43b8ff;
$sky-blue: #56c2ff;
$very-light-pink: #cfcfcf;
$very-light-pink-2: #ebebeb;
$very-light-pink-3: #bababa;
$dark-grey-blue: #353a51;
$mushroom: #a6a5a5;
$coral-pink: #ff6671;
$sand: #e6c072;
$apricot: #fac375;

// font-sizes
$main-heading-size: 50px;
$title-size: 32px;
$h1-size: 24px;
$h2-size: 22px;
$h3-size: 16px;
$paragraph-size: 16px;
$body-size: 14px;
$button-font-size: 16px;

// z-indexes
$zindex-dropdown: 100;
$zindex-sticky: 120;
$zindex-fixed: 130;
$zindex-modal-backdrop: 140;
$zindex-modal: 150;
$zindex-popover: 160;
$zindex-tooltip: 170;
