<div class="gradient-background">
	<div class="section-block privacy-section">
		<div class="wrapper privacy-wrapper">
			<div class="title-area">
				<div class="content-centered">
					<h1 class="main-title text-gradient">
						REFUND POLICY
					</h1>
				</div>
			</div>

			<div class="description-area">
				<p class="paragraph text-white text-bold">Refund policy</p>

				<p class="paragraph text-white">
					Since our Website offers non-tangible, irrevocable goods we do not
					provide refunds after the product is purchased, which you acknowledge
					prior to purchasing any product on the Website. Please make sure that
					you’ve carefully read service description before making a purchase.
				</p>

				<p class="paragraph text-white text-bold">Contacting us</p>

				<p class="paragraph text-white">
					If you would like to contact us concerning any matter relating to this
					Refund Policy, you may do so via the contact form or send an email to
					<a class="link text-dodger-blue text-bold" href="mailto:hi@chess-win.com">hi@chess-win.com</a>
				</p>
			</div>
		</div>
	</div>
</div>