<div class="gradient-background">
	<div class="section-block privacy-section">
		<div class="wrapper privacy-wrapper">
			<div class="title-area">
				<div class="content-centered">
					<h1 class="main-title text-gradient">
						ONLINE PRIVACY POLICY AGREEMENT
					</h1>
				</div>
			</div>

			<div class="description-area">
				<p class="paragraph text-white">
					Chess Win is committed to keeping any and all personal information
					collected of those individuals that visit our website and make use of
					our online facilities and services accurate, confidential, secure and
					private. Our privacy policy has been designed and created to ensure
					those affiliated with Chess Win online chess game of our commitment
					and realization of our obligation not only to meet but to exceed most
					existing privacy standards.
				</p>

				<p class="paragraph text-white">
					<span class="text-bold">THEREFORE </span>
					, this Privacy Policy Agreement shall apply to Chess Win, and thus it
					shall govern any and all data collection and usage thereof. Through
					the use of Chess Win online chess game you are herein consenting to
					the following data procedures expressed within this agreement.
				</p>

				<p class="paragraph text-bold text-white">
					Collection of Information
				</p>

				<p class="paragraph text-white">
					It is highly recommended and suggested that you review the privacy
					policies and statements of any website you choose to use or frequent
					as a means to better understand the way in which other websites
					garner, make use of and share information collected.
				</p>

				<p class="paragraph text-bold text-white">
					Use of Information Collected
				</p>

				<p class="paragraph text-white">
					<a routerLink="/" class="link text-dodger-blue text-bold">
						www.chess-win.com </a>, may collect and may make use of personal information to assist in
					the operation of our website and to ensure delivery of the services
					you need and request. At times, we may find it necessary to use
					personally identifiable information as a means to keep you informed of
					other possible products and/or services that may be available to you
					from Chess Win. We may also be in contact with you with regards to
					completing surveys and/or research questionnaires related to your
					opinion of current or potential future services that may be offered.
				</p>

				<p class="paragraph text-white">
					Chess Win website, may disclose your personal information, without
					prior notice to you, only if required to do so in accordance with
					applicable laws and/or in a good faith belief that such action is
					deemed necessary or is required in an effort to:
				</p>

				<div class="unordered-list-container">
					<ul>
						<li class="paragraph text-white">
							Remain in conformance with any decrees, laws and/or statutes or in
							an effort to comply with any process which may be served upon
							Chess Win and/or our website;
						</li>
						<li class="paragraph text-white">
							Maintain, safeguard and/or preserve all the rights and/or property
							of Chess Win; and
						</li>
						<li class="paragraph text-white">
							Perform under demanding conditions in an effort to safeguard the
							personal safety of users of Chess Win website/services/game and/or
							the general public.
						</li>
					</ul>
				</div>

				<p class="paragraph text-bold text-white">
					Unsubscribe or Opt-Out
				</p>

				<p class="paragraph text-white">
					All users and/or visitors to our website have the option to
					discontinue receiving communication from us and/or reserve the right
					to discontinue receiving communications by way of email or
					newsletters. To discontinue or unsubscribe to our website please send
					an email that you wish to unsubscribe to unsubscribe@chess-win.com. If
					you wish to unsubscribe or opt-out from any third-party websites, you
					must go to that specific website to unsubscribe and/or opt-out.
				</p>

				<p class="paragraph text-bold text-white">
					Links to Other Web Sites
				</p>

				<p class="paragraph text-white">
					Our website does contain links to affiliate and other websites. Chess
					Win, does not claim nor accept responsibility for any privacy
					policies, practices and/or procedures of other such websites.
					Therefore, we encourage all users and visitors to be aware when they
					leave our website and to read the privacy statements of each and every
					website that collects personally identifiable information. The
					aforementioned Privacy Policy Agreement applies only and solely to the
					information collected by our website.
				</p>

				<p class="paragraph text-bold text-white">
					Security
				</p>

				<p class="paragraph text-white">
					Chess Win and its website www.chess-win.com shall endeavor and shall
					take every precaution to maintain adequate physical, procedural and
					technical security with respect to our offices and information storage
					facilities so as to prevent any loss, misuse, unauthorized access,
					disclosure or modification of the user&#39;s personal information
					under our control.
				</p>

				<p class="paragraph text-bold text-white">
					Changes to Privacy Policy Agreement
				</p>

				<p class="paragraph text-white">
					Chess Win, reserves the right to update and/or change the terms of our
					privacy policy, and as such we will post those change to our website
					homepage at www.chess-win.com tab Privacy Policy, so that our users
					and/or visitors are always aware of the type of information we
					collect, how it will be used, and under what circumstances, if any, we
					may disclose such information. If at any point in time, Chess Win,
					decides to make use of any personally identifiable information on
					file, in a manner vastly different from that which was stated when
					this information was initially collected, the user or users shall be
					promptly notified by email. Users at that time shall have the option
					as to whether or not to permit the use of their information in this
					separate manner.
				</p>

				<p class="paragraph text-bold text-white">
					Acceptance of Terms
				</p>

				<p class="paragraph text-white">
					Through the use of this website, you are hereby accepting the terms
					and conditions stipulated within the aforementioned Privacy Policy
					Agreement. If you are not in agreement with our terms and conditions,
					then you should refrain from further use of our sites. In addition,
					your continued use of our website following the posting of any updates
					or changes to our terms and conditions shall mean that you are in
					agreement and acceptance of such changes.
				</p>

				<p class="paragraph text-bold text-white">
					How to Contact Us
				</p>

				<p class="paragraph text-white">
					If you have any questions or concerns regarding the Privacy Policy
					Agreement related to our website, please feel free to contact us at
					the following email, telephone number or mailing address.
				</p>

				<p class="paragraph text-white text-bold">
					Email:
					<a href="mailto:support@chess-win.com " class="link text-dodger-blue">
						support@chess-win.com
					</a>
				</p>
			</div>
		</div>
	</div>
</div>