<section class="section-block footer-section">
	<div class="wrapper footer-wrapper">
		<div class="footer-container">
			<div class="left-footer">
				<a routerLink="/">
					<img class="footer-logo" src="../../../../assets/images/chess-footer-logo.png"
						alt="chess-footer-logo" />
				</a>

				<div class="small-separator"></div>

				<p class="body-text">Copyright 2020</p>
			</div>

			<div class="right-footer">
				<a class="social-link" href="https://www.instagram.com" target="_blank" rel="noopener">
					<img class="social-icon" src="../../../../assets/icons/sm-instagram.png"
						alt="social-media-instagram" height="15px" />
				</a>
				<a class="social-link" href="https://www.twitter.com" target="_blank" rel="noopener">
					<img class="social-icon" src="../../../../assets/icons/sm-twitter.png" alt="social-media-twitter"
						height="15px" />
				</a>
				<a class="social-link" href="https://www.facebook.com" target="_blank" rel="noopener">
					<img class="social-icon" src="../../../../assets/icons/sm-facebook.png" alt="social-media-facebook"
						height="15px" />
				</a>
				<a class="social-link" href="https://www.youtube.com" target="_blank" rel="noopener">
					<img class="social-icon" src="../../../../assets/icons/sm-youtube.png" alt="social-media-youtube"
						height="15px" />
				</a>
			</div>
		</div>
	</div>
</section>