<div class="gradient-background">
	<div class="section-block fair-play-section">
		<div class="wrapper fair-play-wrapper">
			<div class="title-area">
				<div class="content-centered">
					<h1 class="main-title">
						{{ languageLabels?.fairPlay.title }}
					</h1>
				</div>
			</div>

			<div class="content-area">
				<div class="boxes-area">
					<div class="box-item">
						<img src="../../../../../assets/images/fair-play/random-method-image.png"
							alt="random-method-image" width="100%" />

						<div class="box-body">
							<h1 class="heading1 text-sand">{{ languageLabels?.fairPlay.method1Title }}</h1>

							<p class="paragraph-short text-light-pink">
								{{ languageLabels?.fairPlay.method1Description }}
							</p>
						</div>
					</div>

					<div class="box-item">
						<img src="../../../../../assets/images/fair-play/fen-method-image.png" alt="fen-method-image"
							width="100%" />

						<div class="box-body">
							<h1 class="heading1 text-sand">{{ languageLabels?.fairPlay.method2Title }}</h1>

							<p class="paragraph-short text-light-pink">
								{{ languageLabels?.fairPlay.method2Description }}
							</p>
						</div>
					</div>
				</div>

				<div class="description-area">
					<p class="paragraph-short text-light-pink">
						{{ languageLabels?.fairPlay.paragraph1 }}
					</p>
					<p class="paragraph-short text-light-pink">
						{{ languageLabels?.fairPlay.paragraph2 }}
					</p>
				</div>
			</div>
		</div>
	</div>
</div>