@import "../../../../../assets/style/style.scss";

.gradient-background {
	background-image: linear-gradient($dark-indigo-two, $midnight-two);

	.fair-play-section {
		position: relative;
		background: url(../../../../../assets/images/chess-background.png) no-repeat;
		box-sizing: border-box;
		background-size: 100%;

		.fair-play-wrapper {
			padding: 42px 0px 80px;

			.title-area {
				margin-bottom: 110px;
				color: $sand;
			}

			.content-area {
				.boxes-area {
					@include grid(2, 32px, 0px);

					@include mq(768px) {
						@include grid(1, 0px, 64px);
					}

					.box-item {
						background-color: rgb(3, 16, 34);
						border-radius: 6px;
						box-sizing: border-box;
						display: flex;
						flex-direction: column;
						align-items: center;
						text-align: center;

						.box-body {
							padding: 32px;
						}

						h1 {
							margin-bottom: 24px;
						}

						.paragraph-short {
							font-family: "aileron-bold", sans-serif;
						}
					}
				}

				.description-area {
					margin-top: 80px;

					.paragraph-short {
						font-family: "aileron-bold", sans-serif;
						margin-bottom: 24px;
					}
				}
			}
		}
	}
}
