<section class="section-block footer-section">
	<div class="wrapper footer-wrapper">
		<div class="info-area">
			<div class="logo-area">
				<a routerLink="/">
					<img class="footer-logo" src="../../../../assets/images/chess-footer-logo.png"
						alt="chess-footer-logo" />
				</a>

				<div class="small-separator"></div>

				<p class="body-text">Copyright 2020</p>
			</div>

			<a href="mailto:support@chess-win.com" class="body-text text-white">
				support@chess-win.com
			</a>

			<p class="small-text">© 2020 Chess Win, Inc.</p>

			<!-- <img
				class="footer-logo"
				src="../../../../assets/images/gc-logo-for-web.png"
				width="85"
				alt="guerra-capital-logo"
			/>
			<p class="small-text">Payments Powered by Guerra Capital</p>
			<p class="small-text address">
				1-256-229-5551 P.O. Box 250 Lexington, Al 35648
			</p> -->

			<div class="tablet-area">
				<div class="secure-payments">
					<p>Secure Payments by :</p>
					<div class="paypal">
						<img src="../../../../../assets/images/paypal-logo-paypal.png" alt="" />
					</div>
				</div>

				<div class="images-flow">
					<!-- <h4>We support</h4> -->
					<img src="../../../../../assets/images/visa.png" />
					<img src="../../../../../assets/images/mastercard.png" />
					<img src="../../../../../assets/images/american-express.png" class="a-express-logo" alt="" />
					<div class="discover-network">
						<img src="../../../../../assets/images/discover-network-.png" class="img-dis" />
					</div>
				</div>

				<!-- <div>
					<p>
						Charges on your statement will appear as
						<span>ChessWin442037467292</span>
					</p>
				</div> -->
			</div>
		</div>

		<div class="image-area">
			<div class="secure-payments">
				<p>Secure Payments by :</p>
				<div class="paypal">
					<img src="../../../../../assets/images/paypal-logo-paypal.png" alt="" />
				</div>
			</div>

			<div class="images-flow">
				<!-- <h4>We support</h4> -->
				<img src="../../../../../assets/images/visa.png" />
				<img src="../../../../../assets/images/mastercard.png" />
				<img src="../../../../../assets/images/american-express.png" class="a-express-logo" alt="" />
				<div class="discover-network">
					<img src="../../../../../assets/images/discover-network-.png" class="img-dis" />
				</div>
			</div>

			<!-- <div>
				<p>
					Charges on your statement will appear as
					<span>ChessWin442037467292</span>
				</p>
			</div> -->
		</div>

		<div class="links-area">
			<div class="link-item">
				<p class="menu-title text-white">Menu</p>
				<a routerLink="/" class="link">Home</a>
				<a routerLink="/fair-play" routerLinkActive="nav-active" class="link">Fair Play</a>
				<a routerLink="/faq" routerLinkActive="nav-active" class="link">FAQ</a>
				<a routerLink="/how-to" routerLinkActive="nav-active" class="link">Info</a>
				<!-- <a routerLink="/about-us" routerLinkActive="nav-active" class="link">About Us</a> -->
			</div>
			<div class="link-item right">
				<p class="menu-title text-white">Legal</p>
				<a routerLink="/privacy" routerLinkActive="nav-active" class="link">Privacy policy</a>
				<a routerLink="/contact-us" routerLinkActive="nav-active" class="link">Contact Us</a>
				<a routerLink="/terms-and-conditions" routerLinkActive="nav-active" class="link">Terms and
					Conditions</a>
				<a routerLink="/refund-policy" routerLinkActive="nav-active" class="link">Refund policy</a>
			</div>
			<div class="link-item">
				<p class="menu-title text-white">Social</p>
				<div class="social-area">
					<a class="social-link" href="https://www.instagram.com" target="_blank" rel="noopener">
						<img class="social-icon" src="../../../../../assets/icons/sm-instagram.png"
							alt="social-media-instagram" height="15px" />
					</a>
					<a class="social-link" href="https://www.twitter.com" target="_blank" rel="noopener">
						<img class="social-icon" src="../../../../../assets/icons/sm-twitter.png"
							alt="social-media-twitter" height="15px" />
					</a>
					<a class="social-link" href="https://www.facebook.com" target="_blank" rel="noopener">
						<img class="social-icon" src="../../../../../assets/icons/sm-facebook.png"
							alt="social-media-facebook" height="15px" />
					</a>
					<a class="social-link" href="https://www.youtube.com" target="_blank" rel="noopener">
						<img class="social-icon" src="../../../../../assets/icons/sm-youtube.png"
							alt="social-media-youtube" height="15px" />
					</a>
				</div>
			</div>
			<div class="link-item right inline-footer">
				<a routerLink="/">
					<img class="footer-logo" src="../../../../assets/images/chess-footer-logo.png"
						alt="chess-footer-logo" width="70px" />
				</a>

				<p class="body-text">Copyright 2020</p>

				<a href="mailto:support@chess-win.com" class="body-text text-white">
					support@chess-win.com
				</a>

				<p class="small-text">© 2020 ChessWin, Inc.</p>

				<!-- <img
					class="footer-logo"
					src="../../../../assets/images/gc-logo-for-web.png"
					width="70px"
					alt="guerra-capital-logo"
				/> -->
				<!-- <p class="logo-small-text">Payments Powered by Guerra Capital</p>
				<p class="logo-small-text">
					1-256-229-5551 P.O. Box 250 Lexington, Al 35648
				</p> -->
			</div>
		</div>
	</div>
</section>