@import "../../../../../../assets/style/style.scss";

table {
	width: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
	padding-bottom: 8px;

	@include custom-scrollbar;

	overscroll-behavior: unset;

	thead {
		width: 100%;
		min-width: 1024px;
		display: flex;

		tr {
			width: 100%;
			display: flex;
		}

		th {
			width: calc(100% / 3);
			font-family: "aileron-bold", sans-serif;
			font-size: 16px;
			color: $sand;
			padding: 16px;
			text-align: left;
		}
	}

	tbody {
		width: 100%;
		min-width: 1024px;
		border: 2px solid $sand;
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		background-color: rgb(11, 27, 50);

		tr {
			width: 100%;
			display: flex;
			border-bottom: 1px solid $sand;
			cursor: pointer;
			transition: all ease 0.2s;
			-webkit-transition: all ease 0.2s;
			-moz-transition: all ease 0.2s;

			&:last-child {
				border-bottom: none;
			}

			&:hover {
				background-color: lighten(rgb(11, 27, 50), 5%);
			}
		}

		td {
			width: calc(100% / 3);
			border-color: $sand;
			color: $very-light-pink;
			padding: 16px;
			font-family: "aileron-regular", sans-serif;
			font-size: 14px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			word-break: break-all;

			.username {
				font-family: "aileron-bold", sans-serif;
				font-size: 16px;
				margin-bottom: 8px;
			}
		}

		.country-cell {
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
		}
	}
}

.input-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 32px;

	@include mq(576px) {
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 16px;
	}

	h1 {
		font-family: "aileron-black", sans-serif;
		font-size: 32px;
		text-align: left;
		color: $sand;

		@include mq(576px) {
			margin-bottom: 24px;
		}
	}

	input {
		width: 100%;
		max-width: 300px;
		background-color: transparent;
		border: 1px solid $very-light-pink;
		border-radius: 4px;
		padding: 12px;
		font-size: 12px;
		color: $very-light-pink;
		outline: none;

		&::placeholder {
			color: darken($very-light-pink, 15%);
			font-size: 12px;
		}

		@include mq(576px) {
			max-width: unset;
		}
	}
}

.loading-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 32px;
	border: 2px solid $sand;
	border-radius: 5px;
	background-color: rgb(11, 27, 50);
	color: $very-light-pink;
}
