<div class="gradient-background">
	<div class="section-block fair-play-section">
		<div class="wrapper fair-play-wrapper">
			<div class="title-area">
				<div class="content-centered">
					<h1 class="main-title text-gradient">
						About Us
					</h1>
				</div>
			</div>

			<div class="content-area">
				<div class="presentation-area">
					<div class="presentation-image">
						<img src="../../../../../assets/images/about-us-chess.png" alt="about-us-image" />
					</div>
					<div class="presentation-text">
						<h1 class="heading1 text-white">How we started</h1>
						<p class="body-text text-light-pink3">
							Lorem ipsum, or lipsum as it is sometimes known, is dummy text
							used in laying out print, graphic or web designs. The passage is
							attributed to an unknown typesetter in the 15th century who is
							thought to have scrambled parts of Cicero's De Finibus Bonorum et
							Malorum for use in a type specimen book. It usually begins with:
						</p>
						<p class="body-text text-light-pink3">
							“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua.” The
							purpose of lorem ipsum is to create a natural looking block of
							text (sentence, paragraph, page, etc.) that doesn't distract from
							the layout. A practice not without controversy, laying out pages
							with meaningless filler text can be very useful when the focus is
							meant to be on design, not content.
						</p>
						<p class="body-text text-light-pink3">
							The passage experienced a surge in popularity during the 1960s
							when Letraset used it on their dry-transfer sheets, and again
							during the 90s as desktop publishers bundled.
						</p>
					</div>
				</div>

				<div class="description-area">
					<h1 class="heading1 text-white">How we started</h1>
					<p class="body-text text-light-pink3">
						Lorem ipsum, or lipsum as it is sometimes known, is dummy text used
						in laying out print, graphic or web designs. The passage is
						attributed to an unknown typesetter in the 15th century who is
						thought to have scrambled parts of Cicero's De Finibus Bonorum et
						Malorum for use in a type specimen book. It usually begins with:
					</p>
					<p class="body-text text-light-pink3">
						“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua.” The
						purpose of lorem ipsum is to create a natural looking block of text
						(sentence, paragraph, page, etc.) that doesn't distract from the
						layout. A practice not without controversy, laying out pages with
						meaningless filler text can be very useful when the focus is meant
						to be on design, not content.
					</p>
					<p class="body-text text-light-pink3">
						The passage experienced a surge in popularity during the 1960s when
						Letraset used it on their dry-transfer sheets, and again during the
						90s as desktop publishers bundled.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>