@import "../../../../../../assets/style/style.scss";

.user-list-container {
	padding: 40px 0 80px 0;
}

.paginator-container {
	width: 100%;
	margin: 16px 0;
	display: flex;
	justify-content: center;
}
