@import "../../../../../../assets/style/style.scss";

.friends-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0 32px;

	.label {
		width: 100%;
		height: 50px;
		display: flex;
		align-items: center;
	}

	&__title {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-top: 1px solid rgb(23, 45, 63);
		color: rgb(207, 207, 207);
		cursor: pointer;

		img {
			cursor: pointer;
			transition: all ease 0.2s;
			-webkit-transition: all ease 0.2s;
			-moz-transition: all ease 0.2s;
		}

		.icon-container {
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}

		mat-icon {
			width: unset;
			height: unset;
			margin-right: 8px;
			font-size: 16px;
		}
	}
}

.friends {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-bottom: 24px;

	.friend {
		width: 100%;
		padding: 8px 32px;
		display: flex;
		align-items: center;
		transition: all ease 0.2s;
		-webkit-transition: all ease 0.2s;
		-moz-transition: all ease 0.2s;

		&:hover {
			background-color: rgb(23, 45, 63);
		}

		&__image-container {
			position: relative;
			margin-right: 8px;
		}

		&__image {
			position: relative;
			z-index: 1;
			border-radius: 50%;
			object-fit: cover;
			object-position: center;
		}

		&__status {
			width: 12px;
			height: 12px;
			border-radius: 50%;
			border: 1px solid rgb(23, 45, 63);
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 2;

			&--online {
				background-color: rgb(0, 143, 69);
			}

			&--away {
				background-color: rgb(186, 142, 89);
			}

			&--busy {
				background-color: rgb(150, 67, 67);
			}

			&--offline {
				background-color: rgb(158, 160, 165);
			}
		}

		&__info {
			display: flex;
			flex-direction: column;
			height: 100%;
		}

		&__name {
			color: #fff;
			margin-bottom: 4px;
		}

		&__actions {
			display: flex;
			align-items: flex-end;
			height: 20px;

			img {
				margin-right: 4px;
				border-radius: 50%;
				object-fit: cover;
				object-position: center;
			}
		}

		&__challenge-button {
			width: 80px;
			height: 20px;
			background: linear-gradient(45deg, #62c161, #a9d2ad);
			border-radius: 2px;
			font-size: 10px;
			color: rgb(52, 57, 79);
			text-transform: uppercase;
			cursor: pointer;
			outline: none;
			display: none;

			@include mq(1024px) {
				display: block !important;
			}
		}

		&:hover {
			.friend__challenge-button {
				display: block;
			}
		}
	}
}

.button-wrapper {
	width: 100%;
	padding: 8px 32px;
	display: flex;
}

.add-friend-button {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	color: rgb(53, 58, 81);
	text-transform: uppercase;
	border-radius: 4px;
	outline: none;
	cursor: pointer;
	font-weight: 700;
	background: linear-gradient(-45deg, #62c161, #a9d2ad);
}

.rotate-left {
	transform: rotate(90deg);
}
